@model DFC.Microservices.Skills.Models.SkillsModel
<div> v2 skills prototype </div>
<h2>@Model.JobProfileUrl</h2>
<ul class="homepage-jobcategories">
    @foreach (var skill in Model.Skills)
    {<li>@skill</li>}
</ul>
