@model DFC.Microservices.Skills.Models.SkillsModel

<div> v2 skills prototype </div>
<h3> updated skills for @Model.JobProfileUrl</h3>
<ul class="homepage-jobcategories">
    @foreach (var skill in Model.Skills)
    {
        <li>@skill</li>}
</ul>
